body {
	background: #f5f5f5;
}

section {
	margin: 30px 0;
}

#section_wrap {
	width: 1200px;
	margin: 0 auto;
}

#section_wrap .word {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

#section_wrap .admin_list {
	width: 1100px;
	margin: 0 auto;
	text-align: center;
}

#section_wrap .admin_list table {
	width: 100%;
	border-collapse: collapse;
	font-size: .9em;
}

#section_wrap .admin_list table thead tr th {
	font-weight: bold;
	border: 1px solid #e1e1e1;
	padding: 10px 3px;
	text-align: center;
	color: #fff;
	background-color: #73685D;
}

#section_wrap .admin_list table tbody tr td {
	border: 1px solid #e1e1e1;
	padding: 10px 3px;
	text-align: center;
	background-color: #ffffff;
}

#section_wrap .admin_list table tbody tr td a {
	display: inline-block;
	padding: 1px 7px;
	text-align: center;
	border: 1px solid #adadad;
	border-radius: 5px;
	color: #2e2e2e;
	background-color: #f0f0f0;
}

#section_wrap .admin_list table tbody tr td a:hover {
	background-color: #dedede;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}